@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #004fc5, #0077ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}